services:
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    depends_on:
      - pgsqldb
    cap_add:
      - "IPC_LOCK"
    env_file: .env
    command: >
      /bin/sh -c "apk add envsubst && \
                  envsubst < /config.raw.hcl > /vault/config/config.hcl && \
                  vault server -config=/vault/config/config.hcl"
    ports:
      - 8200:8200
    volumes:
      - ./config.hcl:/config.raw.hcl
      - ./vault/data:/vault/data
      - ./vault/logs:/vault/logs
  pgsqldb:
    image: postgres:18.1-alpine3.22
    container_name: pgsqldb
    restart: always
    env_file: .env
    ports:
      - 5432:5432
    volumes:
      - ./pgsqldb-data:/var/lib/postgresql/data
      - ./vault-pgsql-init:/init:ro
