services:
  vault:
    image: hashicorp/vault:latest
    deploy:
      mode: replicated
      replicas: 2
    depends_on:
      - pgsqldb
    cap_add:
      - "IPC_LOCK"
    env_file: .env
    command: >-
      /bin/sh -c "apk add envsubst && \
                  envsubst < /storage.raw.hcl > /vault/config/storage.hcl && \
                  vault server -config=/vault/config/"
    ports:
      - 8200-8201:8200
    volumes:
      - ./storage.hcl:/storage.raw.hcl:ro
      - ./config.hcl:/vault/config/config.hcl:ro
      - ./vault/logs:/vault/logs
  pgsqldb:
    image: postgres:18.1-alpine3.22
    container_name: pgsqldb
    restart: always
    env_file: .env
    ports:
      - 5432:5432
    volumes:
      - ./pgsqldb-data:/var/lib/postgresql/data
      - ./vault-pgsql-init:/init:ro
