global:
  # enabled is the master enabled switch. Setting this to true or false
  # will enable or disable all the components within this chart by default.
  enabled: true

  # TLS for end-to-end encrypted transport
  tlsDisable: true

server:
  # If true, or "-" with global.enabled true, Vault server will be installed.
  # See vault.mode in _helpers.tpl for implementation details.
  enabled: "-"

  image:
    repository: "hashicorp/vault"
    tag: "1.20.4"
    pullPolicy: IfNotPresent

  # Configure the logging verbosity for the Vault server.
  # Supported log levels include: trace, debug, info, warn, error
  logLevel: "debug"

  # Configure the logging format for the Vault server.
  # Supported log formats include: standard, json
  logFormat: "standard"

  resources: {}

  # extraArgs is a string containing additional Vault server arguments.
  # NOTE: Extra config arg for `storage.hcl`
  extraArgs: "-config=/vault/config/storage/"

  # volumes is a list of volumes made available to all containers. These are rendered
  # via toYaml rather than pre-processed like the extraVolumes value.
  # The purpose is to make it easy to share volumes between containers.
  # NOTE: Custom Vault volume for `storage` config secret
  volumes:
    - name: "vault-storage"
      secret:
        defaultMode: 400
        secretName: "storage-config"

  # volumeMounts is a list of volumeMounts for the main server container. These are rendered
  # via toYaml rather than pre-processed like the extraVolumes value.
  # The purpose is to make it easy to share volumes between containers.
  # NOTE: Custom Volume Mounts for the `storage` config secret
  volumeMounts:
    - mountPath: "/vault/config/storage/"
      name: "vault-storage"
      readOnly: true

  # This configures the Vault Statefulset to create a PVC for audit
  # logs.  Once Vault is deployed, initialized, and unsealed, Vault must
  # be configured to use this for audit logs.  This will be mounted to
  # /vault/audit
  # See https://developer.hashicorp.com/vault/docs/audit to know more
  auditStorage:
    enabled: true
    # Size of the PVC created
    size: 20Gi
    # Location where the PVC will be mounted.
    mountPath: "/vault/audit"
    # Name of the storage class to use.  If null it will use the
    # configured default Storage Class.
    storageClass: null
    # Access Mode of the storage device being used for the PVC
    accessMode: ReadWriteOnce
    # Annotations to apply to the PVC
    annotations: {}
    # Labels to apply to the PVC
    labels: {}

  # Run Vault in "HA" mode. There are no storage requirements unless the audit log
  # persistence is required.  In HA mode Vault will configure itself to use Consul
  # for its storage backend.  The default configuration provided will work the Consul
  # Helm project by default.  It is possible to manually configure Vault to use a
  # different HA backend.
  ha:
    enabled: true
    replicas: 2

    # Note: Configuration files are stored in ConfigMaps so sensitive data
    # such as passwords should be either mounted through extraSecretEnvironmentVars
    # or through a Kube secret. For more information see:
    # https://developer.hashicorp.com/vault/docs/platform/k8s/helm/run#protecting-sensitive-vault-configurations
    config: |
      listener "tcp" {
        address = "0.0.0.0:8200"
        cluster_address = "0.0.0.0:8201"
        tls_disable = 1
      }

      service_registration "kubernetes" {}

      api_addr = "http://127.0.0.1:8200"
      cluster_addr = "http://127.0.0.1:8201"

      allow_audit_log_prefixing = 1

      ui = 1

# Vault is able to collect and publish various runtime metrics.
# Enabling this feature requires setting adding `telemetry{}` stanza to
# the Vault configuration. There are a few examples included in the `config` sections above.
#
# For more information see:
# https://developer.hashicorp.com/vault/docs/configuration/telemetry
# https://developer.hashicorp.com/vault/docs/internals/telemetry
serverTelemetry:
  # Enable support for the Prometheus Operator. If authorization is not set for authenticating
  # to Vault's metrics endpoint, the following Vault server `telemetry{}` config must be included
  # in the `listener "tcp"{}` stanza
  #  telemetry {
  #    unauthenticated_metrics_access = "true"
  #  }
  #
  # See the `standalone.config` for a more complete example of this.
  #
  # In addition, a top level `telemetry{}` stanza must also be included in the Vault configuration:
  #
  # example:
  #  telemetry {
  #    prometheus_retention_time = "30s"
  #    disable_hostname = true
  #  }
  #
  # Configuration for monitoring the Vault server.
  serviceMonitor:
    # The Prometheus operator *must* be installed before enabling this feature,
    # if not the chart will fail to install due to missing CustomResourceDefinitions
    # provided by the operator.
    #
    # Instructions on how to install the Helm chart can be found here:
    #  https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack
    # More information can be found here:
    #  https://github.com/prometheus-operator/prometheus-operator
    #  https://github.com/prometheus-operator/kube-prometheus

    # Enable deployment of the Vault Server ServiceMonitor CustomResource.
    enabled: false

    # Selector labels to add to the ServiceMonitor.
    # When empty, defaults to:
    #  release: prometheus
    selectors: {}

    # Interval at which Prometheus scrapes metrics
    interval: 30s

    # Timeout for Prometheus scrapes
    scrapeTimeout: 10s

    # tlsConfig used for scraping the Vault metrics API.
    # See API reference: https://prometheus-operator.dev/docs/api-reference/api/#monitoring.coreos.com/v1.TLSConfig
    # example:
    # tlsConfig:
    #   ca:
    #     secret:
    #       name: vault-metrics-client
    #       key: ca.crt
    tlsConfig: {}

    # authorization used for scraping the Vault metrics API.
    # See API reference: https://prometheus-operator.dev/docs/api-reference/api/#monitoring.coreos.com/v1.SafeAuthorization
    # example:
    # authorization:
    #   credentials:
    #     name: vault-metrics-client
    #     key: token
    authorization: {}

    # metricRelabelings configures the relabeling rules to apply to the samples before ingestion.
    # See API reference: https://prometheus-operator.dev/docs/api-reference/api/#monitoring.coreos.com/v1.RelabelConfig
    # example:
    # metricRelabelings:
    #   - sourceLabels: [cluster]
    #     targetLabel: vault_cluster
    metricRelabelings: []

  prometheusRules:
    # The Prometheus operator *must* be installed before enabling this feature,
    # if not the chart will fail to install due to missing CustomResourceDefinitions
    # provided by the operator.

    # Deploy the PrometheusRule custom resource for AlertManager based alerts.
    # Requires that AlertManager is properly deployed.
    enabled: false

    # Selector labels to add to the PrometheusRules.
    # When empty, defaults to:
    #  release: prometheus
    selectors: {}

    # Some example rules.
    rules: []
    #  - alert: vault-HighResponseTime
    #    annotations:
    #      message: The response time of Vault is over 500ms on average over the last 5 minutes.
    #    expr: vault_core_handle_request{quantile="0.5", namespace="mynamespace"} > 500
    #    for: 5m
    #    labels:
    #      severity: warning
    #  - alert: vault-HighResponseTime
    #    annotations:
    #      message: The response time of Vault is over 1s on average over the last 5 minutes.
    #    expr: vault_core_handle_request{quantile="0.5", namespace="mynamespace"} > 1000
    #    for: 5m
    #    labels:
    #      severity: critical
